<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>認証コード送信</title>
</head>

<body>

  <div>
    <h2>認証番号</h2>
    <p>以下の認証コードをご入力ください</p>
    <h3>
      <%= code %>
    </h3>
  </div>

</body>

</html>
